{% extends "base.html" %}
{% block content %}
<h1>Welcome to the Wiki! 📚</h1>
<p>This is my wiki. You can call it a digital garden, too.</p>
<p>On this wiki, I publish documentation for all of my open-source projects. I also intend to add notes about projects I am working on so that I can keep track of my ideas and to-dos.</p>
<p>Having this site means I can keep documentation, definitions, and rough ideas separate from my main site, jamesg.blog.</p>
<p>This seperation of contexts is important for me because I want my blog to be for longer-form articles about my interests.</p>
<p class="construction">Note: This wiki is currently under heavy construction. I am working on moving all of my documentation from GitHub READMEs to this site.</p>
<p>If you want to explore my main blog, please refer to jamesg.blog.</p>
{% endblock %}